@{
    ViewData["Title"] = "О конференции";
}

<h2>О конференции</h2>

<p><strong>Международная научная конференция «УФИМСКАЯ ОСЕННЯЯ МАТЕМАТИЧЕСКАЯ ШКОЛА — 2024»</strong></p>

<p><strong>Организаторы:</strong> Уфимский университет науки и технологий, Институт математики с ВЦ УФИЦ РАН (г. Уфа) , НОМЦ Приволжского федерального округа.</p>

<p><strong>Место проведения:</strong> Институт информатики, математики и робототехники УУниТ (г.Уфа, ул. З.Валиди, 32).</p>

<p><strong>Сроки проведения:</strong> с 2 по 5 октября 2024 года.</p>

<p><strong>Председатель Программного комитета:</strong> академик РАН Садовничий Виктор Антонович (МГУ им. М.В. Ломоносова).</p>

<p><strong>Председатель Организационного комитета:</strong> д.ф.-м.н. Фазуллин Зиганур Юсупович.</p>

<p>
    <strong>Контактные данные Оргкомитета:</strong> Институт информатики, математики и робототехники УУниТ (г. Уфа, ул. З. Валиди 32а), 450074.<br />
    Тел.: <a href="tel:+79177662488">(+7) 917-766-24-88</a> (WhatsApp)
</p>

<p><strong>Сайт:</strong> <a href="https://www.conf-bashedu-fmit.ru" target="_blank">www.conf-bashedu-fmit.ru</a></p>

<p><strong>e-mail:</strong> <a href="mailto:ufa.mat.sh@mail.ru">ufa.mat.sh@mail.ru</a></p>
